<div class="panel panel-default">
    <div class="panel-heading"> <i class="fa fa-link" aria-hidden="true"></i> Redes Sociais e Links</div>

    <div style="background: #2e2d80;">
        <div class="row">
            <img class="col-md-12" src="/media/images/redes_sociais.png" />
        </div>
    </div>

    <table class="table table-bordered">
        <tr>
            <td width="45"> <a style="color:#0437a1;" target="_blank" href="https://www.facebook.com/sistemaocesp"> <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></td>
            <td style="vertical-align:middle">Facebook</td>
        </tr>
        <tr>
            <td width="45"> <a style="color:#0092d3;" target="_blank" href="https://twitter.com/sistemaocesp"> <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></td>
            <td style="vertical-align:middle">Twitter</td>
        </tr>
        <tr>
            <td width="45"><a style="color:#b90707;" target="_blank" href="https://www.youtube.com/sistemaocesp"> <i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i>  </a></td>
            <td style="vertical-align:middle">Youtube</td>
        </tr>
        <tr>
            <td width="45"><a style="color:#1b86bc" target="_blank" href="https://www.linkedin.com/company/sescoop-sp---servi-o-nacional-de-aprendizagem-do-cooperativismo-no-estado-de-s-o-paulo"> <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i> </a></td>
            <td style="vertical-align:middle">LinkedIn</td>
        </tr>
        <tr>
            <td width="45"><a style="color:#1b86bc" target="_blank" href="http://webmail.sescoopsp.coop.br"> <img src="https://www2.palomar.edu/pages/atrc/files/2015/01/office-365_256x256.png" width="25" height="25" /></a></td>
            <td style="vertical-align:middle">Office 365 Webmail</td>
        </tr>
    </table>
</div>