@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.PaginaDeTransicao>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

@{
    var selection = CurrentPage.Children.Where("Visible");
    var colors = new String[] { "#0a5683", "#1d6d9c", "#05456b", "#033451", "#2a3b90", "#4f6ac9" };
    Random rnd = new Random();
    var p = 0;
}
<div class="row">
    @foreach (var item in selection)
    {
        var count = item.Children().Count();
        p = rnd.Next(colors.Count());
        <div class="col-md-3">
            <div class="dashboard-tile detail tile-turquoise animate-it" style="background:@(colors[p]);" data-delay="100 " value="0"
                 title="Gerenciar Reservas"
                 icon="fa fa-car"
                 tile-class="tile-turquoise"
                 url="@item.Url">
                <div class="content">
                    <h1 class="text-left timer animated fadeInUp ng-binding" data-from="0" data-to="180" data-speed="2500"> @(count > 0 ? count : " - ") &nbsp; </h1>
                    <a style="color:#FFF; font-size:115%;" href="@item.Url" class="ng-binding">@item.titulo</a>
                </div>
                <div class="icon">
                    <i class="fa fa-sitemap"></i>
                </div>
            </div>
        </div>
    }
</div>