@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ReciboItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    ViewBag.Title = "Recibo";
    ViewBag.SubTitle = CurrentPage.Pagador;
    Layout = "Master.cshtml";
}

<table class="table table-bordered text-center">
    <tbody>
        <tr>
            <td> <img src="http://localhost:888/intranet/sistema_sescoop/img/logo_OCESP.jpg" /> </td>
            <td style="vertical-align:middle;"> <h3>ORGANIZAÇÃO DAS COOPERATIVAS DO ESTADO DE SÃO PAULO</h3></td>
        </tr>
        <tr>
            <td colspan="2">Rua Treze de Maio, 1376 - Bela Vista - CEP: 01327-002 - São Paulo/SP - Fone: 11 3146-6200</td>
        </tr>
        <tr>
            <td colspan="2"><h4>RECIBO</h4></td>
        </tr>
        <tr>
            <td>Nº  3502</td>
            <td>R$ 100,00</td>
        </tr>
        <tr>
            <td colspan="2">

                <table class="table table-bordered margin0">
                    <tr>
                        <th class="text-right">Pagador</th>
                        <td class="text-left">Vida São José do Rio Preto - Coop Trabalho</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-left"> Pagou a importância de  Cem reais Correspondente a  Contribuição para realização de eventos</td>
                    </tr>
                    <tr>
                        <th class="text-right">Banco</th>
                        <td class="text-left">Banco</td>
                    </tr>
                    <tr>
                        <th class="text-right">Agência</th>
                        <td class="text-left">Agência</td>
                    </tr>
                    <tr>
                        <th class="text-right">Conta Corrente</th>
                        <td class="text-left">Conta Corrente</td>
                    </tr>
                    <tr>
                        <th class="text-right">Data</th>
                        <td class="text-left">Data</td>
                    </tr>
                </table>

</td>
        </tr>
    </tbody>
</table>



        @*ORGANIZAÇÃO DAS COOPERATIVAS DO ESTADO DE SÃO PAULO
        Rua Treze de Maio, 1376 - Bela Vista - CEP: 01327-002 - São Paulo/SP - Fone: 11 3146-6200

        Nº  3502
        RECIBO
        R$ 100,00
        Pagador: Vida São José do Rio Preto - Coop Trabalho
        Pagou a importância de  Cem reais
        Correspondente a  Contribuição para realização de eventos
        Banco: 001
        Agência: 1189-4
        Conta Corrente: 20723-3
        Data: 18/08/2010*@
