@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
<link href="~/css/sistemas.css" rel="stylesheet" />

<div ng-controller="sescoop.controllers.sistemas.solicitacao_adiantamentos">
    <!-- Reserva de Adiantamento Viagem -->
    <div class="row">
        <div class="col-md-3">
            @if (Roles.IsUserInRole("Reserva de Adiantamento Viagem"))
            {
            <div class="list-group">
                <div class="list-group-item"><strong>Funções do sistema</strong></div>
                <a href="~/sistemas/solicitacao-adiantamentos/" class="list-group-item @(ViewBag.activeTab == 0 ? "active" : "")">Meus Adiantamentos</a>
                <a href="~/sistemas/solicitacao-adiantamentos/Adiantamento" class="list-group-item @(ViewBag.activeTab == 1 ? "active" : "")">Solicitar Adiantamento</a>
            </div>
            }
            
            @if (Roles.IsUserInRole("Reserva de Adiantamento Viagem ADM"))
            {
            
            <div><hr /></div>
            
            <div class="list-group">
                <div class="list-group-item"><strong>Funções administrativas</strong></div>
                <a href="~/sistemas/solicitacao-adiantamentos/parametros" class="list-group-item @(ViewBag.activeTab == 2 ? "active" : "")">Parâmetros Adiantamento</a>
            </div>
            }
        </div>
        
        <div class="col-md-9">
            @RenderBody()
        </div>

    </div>
</div>